# 0. Pythonic code

파이썬 스타일의 코딩 기법, 파이썬 특유의 문법을 활용하여 효율적으로 코드를 표현함.

고급 코드를 작성 할 수록 더 많이 필요해짐

예시 : 여러 단어들을 하나로 붙일 때

In [1]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''
for s in colors:
    result += s

In [2]:
result

'redbluegreenyellow'

### Pythonic

In [3]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
result

'redbluegreenyellow'

#### 왜 Pythonic?

* 남들이 많이 쓴다
* 효율적이다 : 단순 for loop append보다 빠르다.
* 멋지다.

* split & join
* list comprehension
* enumerate & zip
* lambda & map & reduce
* generator
* asterisk

### split
string type의 값을 "기준값"으로 나눠서 List 형태로 변환

In [4]:
items = 'zero one two three'.split() # 빈칸을 기준으로 문자열 나누기
print(items)

['zero', 'one', 'two', 'three']

In [5]:
example = 'python,java,javascript'
example.split(",")

['python', 'java', 'javascript']

In [7]:
for content in example.split(","):
    print(content.strip())

python
java
javascript

In [6]:
a,b,c = example.split(",") # 리스트에 있는 각 값을 a,b,c 변수로 unpacking

### JOIN

In [8]:
colors = ['red', 'blue', 'green', 'yellow']
"-".join(colors)

'red-blue-green-yellow'

In [9]:
"   ".join(colors)

'red   blue   green   yellow'

### list comprehension
기존 List를 사용하여 간단히 다른 List를 만드는 기법

* 파이썬에서 가장 많이 사용됨
* for + append 보다 빠름

In [10]:
result = []
for i in range(10):
    result.append(i)
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Pythonic

In [12]:
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
result = [i for i in range(10) if i % 2 == 0] # for + if
result

[0, 2, 4, 6, 8]

#### Nested For loop

In [16]:
word_1 = "Hello"
word_2 = "World"
'''
for i in word_1:
    for j in word_2:
        result.append(i+j)
'''
result = [i+j for i in word_1 for j in word_2]
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

#### Filter
i와 j가 같다면 List에 추가하지 않음

In [19]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [i+j for i in case_1 for j in case_2]
result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [20]:
result = [i+j for i in case_1 for j in case_2 if not(i==j)]
# if으로, i와 j가 같으면 List에 추가하지 않음
# [i+j if not(i==j) else "BEE" i for i in case_1 for j in case_2]
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [21]:
result.sort()
result

['AD', 'AE', 'BA', 'BD', 'BE', 'CA', 'CD', 'CE']

### Two Dimentional List

In [22]:
words = 'The quick brown fox jumps over the lazy dog'.split()

In [24]:
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [26]:
stuff = [[w.upper(), w.lower(), len(w)]
        for w in words]
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [27]:
for i in stuff:
    print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

In [28]:
print(stuff)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [31]:
import pprint
pprint.pprint(stuff)

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

### Two dimensional vs One dimensional

In [5]:
case_1 = ["A", "B", "C"]
case_2 = ["C", "E", "A"]
result = [i+j for i in case_1 for j in case_2]
result

['AC', 'AE', 'AA', 'BC', 'BE', 'BA', 'CC', 'CE', 'CA']

In [8]:
'''
여기서는 for j in case_2가 먼저 작동하여
for j in case_2:
    line = []
    for i+j for i in case_1:
        line.append(i+j) 가 된다.'''
result = [[i+j for i in case_1]for j in case_2]

In [7]:
result # 2차원

[['AC', 'BC', 'CC'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

In [10]:
[[j + i for i in case_1 if j != "C"]for j in case_2]

[[], ['EA', 'EB', 'EC'], ['AA', 'AB', 'AC']]

### Enumerate vs zip

### Enumerate
list의 element를 추출할 때 번호를 붙여서 추출

In [11]:
for i,v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [12]:
for i,v in enumerate("ABC"):
    print("{0} \t {1}".format(i, v))

0 	 A
1 	 B
2 	 C

In [13]:
my_str = "ABCD"
{v : i for i , v, in enumerate(my_str)}

{'A': 0, 'B': 1, 'C': 2, 'D': 3}

In [14]:
text = "Samsung Group is a South Korea."

In [16]:
set_text = list(set(text.split()))

In [17]:
{i : v.lower() for i, v in enumerate(text.split())}

{0: 'samsung', 1: 'group', 2: 'is', 3: 'a', 4: 'south', 5: 'korea.'}

In [18]:
{i : v.lower() for i, v in enumerate(set_text)}

{0: 'a', 1: 'samsung', 2: 'south', 3: 'korea.', 4: 'is', 5: 'group'}

In [19]:
{v.lower() : i for i, v in enumerate(set_text)}

{'a': 0, 'samsung': 1, 'south': 2, 'korea.': 3, 'is': 4, 'group': 5}

### zip
두개의 list의 값을 병렬적으로 추출함

In [20]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist): # 병렬적으로 값을 추출
    print(a,b)

a1 b1
a2 b2
a3 b3

In [23]:
a,b,c = zip((1,2,3), (10,20,30), (100,200,300)) # 각 tuple의 같은 index 끼리 묶음
print("a : ", a)
print("b : ", b)
print("c : ", c)

a :  (1, 10, 100)
b :  (2, 20, 200)
c :  (3, 30, 300)

In [24]:
[sum(x) for x in zip((1,2,3),(10,20,30), (100,200,300))]

[111, 222, 333]

### enumerate & zip

In [1]:
alist = ["a1", "a2", "a3"]
blist = ["b1", "b2", "b3"]

for i, values in enumerate(zip(alist,blist)):
    print(i, values) # 번호와 zip tuple

0 ('a1', 'b1')
1 ('a2', 'b2')
2 ('a3', 'b3')

In [5]:
list(enumerate(zip(alist,blist)))

[(0, ('a1', 'b1')), (1, ('a2', 'b2')), (2, ('a3', 'b3'))]

## lambda & map & reduce

### lambda
함수 이름 없이, 함수처럼 쓸 수 있는 익명 함수

* 테스트가 어렵다, 코드 해석도 어렵다.. 하지만 많이쓴다.

In [6]:
#Gemeral function
def f(x, y):
    return x + y

print(f(1, 4))

5

In [7]:
#Lambda function = lambda 매개변수 : return이 되는 값
f = lambda x, y: x + y 
print(f(1,4))

5

In [10]:
(lambda x, y: x + y)(10, 50) # 바로 뒤에 붙여주면 삽입됨

60

In [8]:
up_low = lambda x : x.upper() + x.lower()

In [9]:
up_low("My Happy")

'MY HAPPYmy happy'

In [11]:
join_split = lambda x : "-".join(x.split())

In [12]:
join_split("My Happy")

'My-Happy'

### Map
두개 이상의 list에도 적용 가능함, if도 사용가능

* python3는 iteration을 생성 -> **list를 붙여줘야 list 사용가능!!**

* 실행시점의 값을 생성, 메모리관리 효율적

In [16]:
def f(X):
    return X + 5

list(map(f,ex))

[6, 7, 8, 9, 10]

In [21]:
[value + 5 for value in ex]

[6, 7, 8, 9, 10]

In [19]:
map(f,ex) # list를 붙여줘야 가능

In [23]:
ex = [1,2,3,4,5]
f = lambda x: x**2

list(map(f, ex))

[1, 4, 9, 16, 25]

In [25]:
[f(value) for value in ex] # 그러나 map보다 이게 더 간단하다.

[1, 4, 9, 16, 25]

In [17]:
a,b = map(int, input().split())

54 3

In [18]:
f = lambda x, y : x + y
list(map(f, ex, ex)) # 두개 이상의 list도 가능

[2, 4, 6, 8, 10]

In [26]:
[value**2 if value%2 ==0 else value for value in ex]

[1, 4, 3, 16, 5]

### reduce
map function과 달리 list에 똑같은 함수를 적용해서 통합

* 대용량의 데이터를 다룰때 사용

In [28]:
from functools import reduce

'''
[1,2,3,4,5] 리스트를 순차적으로 돌면서 함수를 적용
'''
print(reduce(lambda x, y: x+y, [1,2,3,4,5]))

15

### iterable objects
Sequence형 자료형에서 **데이터를 순서대로 추출하는 object**

* iterable objects는 메모리 주소를 갖고있는 것 뿐

In [29]:
for city in ["Seoul", "Busan", "Pohang"]:
    print(city, end="\t")

Seoul	Busan	Pohang

In [31]:
# 내부적 구현으로 __iter__와 __next__ 가 사용됨
# iter()와 next() 함수로 iterable 객체를 iterator objet로 사용

cities = ["Seoul", "Busan", "Jeju"]

iter_obj = iter(cities)
print(next(iter_obj))
print(next(iter_obj))
print(next(iter_obj))
next(iter_obj)

Seoul
Busan
Jeju

StopIteration:

In [32]:
iter(cities) # 메모리 위치들에 대한 다음 정보를 가지고 있음

In [34]:
memory_address_cities = iter(cities)
memory_address_cities

In [35]:
next(memory_address_cities) # 메모리 주소를 next로 내용물을 꺼냄

'Seoul'

In [36]:
next(memory_address_cities)

'Busan'

In [37]:
next(memory_address_cities)

'Jeju'

### generator
iterable object를 특수한 형태로 사용해주는 함수

* element가 사용되는 시점에 값을 메모리에 반환
   * yield를 사용해 한번에 하나의 element만 반환함

In [38]:
def general_list(value):
    result = []
    for i in range(value):
        result.append(i)
    return result

In [41]:
general_list(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
import sys
result = general_list(50)
sys.getsizeof(result)

528

In [39]:
def genrator_list(value):
    result = []
    for i in range(value):
        yield i

In [43]:
genrator_list(50) # genrator_list의 형태, 메모리의 주소 값만 가진 상태

In [44]:
for a in genrator_list(50): # 이제 출력 해주세요~ 할때 불러온다.
    print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [45]:
result = genrator_list(50) 
sys.getsizeof(result) # 일반적인 메소드와 비교해서 메모리를 적게 차지함

120

In [48]:
list(genrator_list(50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [46]:
sys.getsizeof(list(genrator_list(50))) # list로 바로 불러와도 메모리를 적게먹음

472

### genrator comprehension
genrator 형태의 list를 생성, list_comprehension과 유사

* generator expression 이라는 이름으로도 부름
* [] 대신 () 를 사용하여 표현

In [50]:
gex_ex = (n*n for n in range(500)) # list의 [] 대신 ()
print(type(gex_ex))

<class 'generator'>

In [53]:
for x in gex_ex:
    print(x)

In [51]:
list(gex_ex)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000,
 10201,
 10404,
 10609,
 10816,
 11025,
 11236,
 11449,
 11664,
 11881,
 12100,
 12321,
 12544,
 12769,
 12996,
 13225,
 13456,
 13689,
 13924,
 14161,
 14400,
 14641,
 14884,
 15129,
 15376,
 15625,
 15876,
 16129,
 16384,
 16641,
 16900,
 17161,
 17424,
 17689,
 17956,
 18225,
 18496,
 18769,
 19044,
 19321,
 19600,
 19881,
 20164,
 20449,
 20736,
 21025,
 21316,
 21609,
 21904,
 22201,
 22500,
 22801,
 23104,
 23409,
 23716,
 24025,
 24336,
 24649,
 24964,
 25281,
 25600,
 25921,
 26244,
 26569,
 26896,
 27225,
 27556,
 27889,
 28224,
 28561,
 28900,
 29241,
 29584,
 29929,
 30276,
 30625,
 30976,
 31329,
 31684,
 32041,
 32400,
 32761,
 33124,
 33489,
 33856,
 34225,
 34596,
 34969,
 35344,
 35721,
 36100,
 36481,
 36864,
 37249,
 37636,
 38025,
 38416,
 38809,
 39204,
 39601,
 40000,
 40401,
 40804,
 41209,
 41616,
 42025,
 42436,
 42849,
 43264,
 43681,
 44100,
 44521,
 44944,
 45369,
 45796,
 46225,
 46656,
 47089,
 47524,
 47961,
 48400,
 48841,
 49284,
 49729,
 50176,
 50625,
 51076,
 51529,
 51984,
 52441,
 52900,
 53361,
 53824,
 54289,
 54756,
 55225,
 55696,
 56169,
 56644,
 57121,
 57600,
 58081,
 58564,
 59049,
 59536,
 60025,
 60516,
 61009,
 61504,
 62001,
 62500,
 63001,
 63504,
 64009,
 64516,
 65025,
 65536,
 66049,
 66564,
 67081,
 67600,
 68121,
 68644,
 69169,
 69696,
 70225,
 70756,
 71289,
 71824,
 72361,
 72900,
 73441,
 73984,
 74529,
 75076,
 75625,
 76176,
 76729,
 77284,
 77841,
 78400,
 78961,
 79524,
 80089,
 80656,
 81225,
 81796,
 82369,
 82944,
 83521,
 84100,
 84681,
 85264,
 85849,
 86436,
 87025,
 87616,
 88209,
 88804,
 89401,
 90000,
 90601,
 91204,
 91809,
 92416,
 93025,
 93636,
 94249,
 94864,
 95481,
 96100,
 96721,
 97344,
 97969,
 98596,
 99225,
 99856,
 100489,
 101124,
 101761,
 102400,
 103041,
 103684,
 104329,
 104976,
 105625,
 106276,
 106929,
 107584,
 108241,
 108900,
 109561,
 110224,
 110889,
 111556,
 112225,
 112896,
 113569,
 114244,
 114921,
 115600,
 116281,
 116964,
 117649,
 118336,
 119025,
 119716,
 120409,
 121104,
 121801,
 122500,
 123201,
 123904,
 124609,
 125316,
 126025,
 126736,
 127449,
 128164,
 128881,
 129600,
 130321,
 131044,
 131769,
 132496,
 133225,
 133956,
 134689,
 135424,
 136161,
 136900,
 137641,
 138384,
 139129,
 139876,
 140625,
 141376,
 142129,
 142884,
 143641,
 144400,
 145161,
 145924,
 146689,
 147456,
 148225,
 148996,
 149769,
 150544,
 151321,
 152100,
 152881,
 153664,
 154449,
 155236,
 156025,
 156816,
 157609,
 158404,
 159201,
 160000,
 160801,
 161604,
 162409,
 163216,
 164025,
 164836,
 165649,
 166464,
 167281,
 168100,
 168921,
 169744,
 170569,
 171396,
 172225,
 173056,
 173889,
 174724,
 175561,
 176400,
 177241,
 178084,
 178929,
 179776,
 180625,
 181476,
 182329,
 183184,
 184041,
 184900,
 185761,
 186624,
 187489,
 188356,
 189225,
 190096,
 190969,
 191844,
 192721,
 193600,
 194481,
 195364,
 196249,
 197136,
 198025,
 198916,
 199809,
 200704,
 201601,
 202500,
 203401,
 204304,
 205209,
 206116,
 207025,
 207936,
 208849,
 209764,
 210681,
 211600,
 212521,
 213444,
 214369,
 215296,
 216225,
 217156,
 218089,
 219024,
 219961,
 220900,
 221841,
 222784,
 223729,
 224676,
 225625,
 226576,
 227529,
 228484,
 229441,
 230400,
 231361,
 232324,
 233289,
 234256,
 235225,
 236196,
 237169,
 238144,
 239121,
 240100,
 241081,
 242064,
 243049,
 244036,
 245025,
 246016,
 247009,
 248004,
 249001]

### 왜? 언제? generators를 쓸까.
메모리 용량을 아껴야 할때!

#### When generator
* list 타입의 데이터를 반환해주는 함수는 generator로 만들어라!
    * 읽기 쉬운 장점, 중간 과정에서 loop 가 중단될 수 있을때!
    
    
* 큰 데이터를 처리할 때는 generator expression을 고려하라!
    * 데이터가 커도 처리의 어려움이 없다.
    
    
* 파일 데이터를 처리할 때도 generator를 쓰자.

### function passing arguments
함수에 입력되는 arguments의 다양한 형태

1) Keyword arguments

2) Default arguments

3) Variable-length arguments

#### Keyword arguments
함수에 입력되는 parameter의 변수명을 사용, arguments를 넘김

In [54]:
def print_somthing(my_name, your_name):
    print("Hello {0}, My name is {1}".format(your_name, my_name))
    
print_somthing("Lee", "C")

Hello C, My name is Lee

In [56]:
print_somthing(your_name = "Lee", my_name = "C") # Keyword

Hello Lee, My name is C

#### default arguments
parameter에 기본값을 미리 입력해서 입력안해도 사용가능

In [58]:
def print_somthing_2(my_name, your_name="C"):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

print_somthing_2("lee")

Hello C, My name is lee

#### variable-length
함수의 parameter 수가 정해져 있지 않을때 variable-length(가변인자)를 사용한다.

* Asterisk(*) 기호를 사용하여 함수의 parameter를 표시
* 입력된 값은 **tuple type**으로 사용할 수 있음

* 가변인자는 일반적으로 *args를 변수명으로 사용
* 기존 parameter 이후에 나오는 값을 **tuple**로 저장함

In [60]:
def asterisk_test(a, b, *args):
    print("args : ", list(args))
    print("type of args : ", type(args))
    return a+b+sum(args)

print(asterisk_test(1,2,3,4,5))

args :  [3, 4, 5]
type of args :  <class 'tuple'>
15

#### Keyword variable-length
parameter 이름을 따로 지정하지 않고 입력하는 방법

* asterisk(*) 두개를 사용하여 함수의 parameter를 표시함
* 입력된 값은 **dict type**으로 사용할 수 있음
* 가변인자는 오직 한개만 기존 가변인자 다음에 사용

In [62]:
def kwargs_test_1(**kwargs):
    print(kwargs)
    
kwargs_test_1(first=3, second=4, third=5)

{'first': 3, 'second': 4, 'third': 5}

In [65]:
def kwargs_test_2(**kwrags):
    print(kwrags)
    print("First value is {first}".format(**kwrags))
    print("Second value is {second}".format(**kwrags))
    print("Third value is {third}".format(**kwrags))

kwargs_test_2(first=3, second=4, third=5)

{'first': 3, 'second': 4, 'third': 5}
First value is 3
Second value is 4
Third value is 5

In [67]:
# 키워드 가변인자 예제
def kwargs_test_3(one, two, *args, **kwargs):
    print(one+two+sum(args))
    print(args)
    print(kwargs)
    
kwargs_test_3(3,4,5,6,7,8,9, first=3, second=4, third=5)

42
(5, 6, 7, 8, 9)
{'first': 3, 'second': 4, 'third': 5}

#### asterisk
흔히 알고 있는 *을 의미함

#### unpacking a container
* tuple, dict 등 자료형에 들어가 있는 값을 unpacking
    * 함수에 여러 값을 넣고 싶을때 tuple,list를 풀어서 넣어준다.
* 함수의 입력값, zip 등에 유용하게 사용가능

In [68]:
def asterisk_test(a, *args):
    print(a, args)
    print(type(args))
    
asterisk_test(1, *(2,3,4,5,6))

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [69]:
def asterisk_test(a, *args):
    print(a, args)
    print(type(args))
    
asterisk_test(1, (2,3,4,5,6))

1 ((2, 3, 4, 5, 6),)
<class 'tuple'>

In [70]:
print("1", "2", "3", "4")
print(["1", "2", "3", "4"]) # list 한개가 들어감 
print(*["1", "2", "3", "4"])

1 2 3 4
['1', '2', '3', '4']
1 2 3 4

In [75]:
a,b,c = ([1,2], [3,4], [5,6])
print(a,b,c)
data = ([1,2], [3,4], [5,6])
print(data)
print(*data)

[1, 2] [3, 4] [5, 6]
([1, 2], [3, 4], [5, 6])
[1, 2] [3, 4] [5, 6]

In [77]:
def asterisk_test(a, b, c, d):
    print(a, b, c, d)
    
data = {"b":1, "c":2, "d":3}
asterisk_test(10, **data)

10 1 2 3

### with zip

In [78]:
ex = ([1,2], [3,4], [5,6], [5,6], [5,6])
ex # tuple로 묶여있어 한개의 값만 갖는다.

([1, 2], [3, 4], [5, 6], [5, 6], [5, 6])

In [80]:
for value in zip(ex):
    print(value)

([1, 2],)
([3, 4],)
([5, 6],)
([5, 6],)
([5, 6],)

In [81]:
for value in zip(*ex):
    print(value)

(1, 3, 5, 5, 5)
(2, 4, 6, 6, 6)

In [82]:
for value in zip(*ex):
    print(sum(value))

19
24

In [85]:
ex = ([1,2], [3,4], [5,6])
a,b,c = ex
for value in zip(a,b,c):
    print(value)

for value in zip(*ex):
    print("unpacking : " ,value)

(1, 3, 5)
(2, 4, 6)
unpacking :  (1, 3, 5)
unpacking :  (2, 4, 6)