# 4. Seaborn

Seaborn은 Matplotlib 기반 통계 시각화 라이브러리
* 통계 정보 : 구성, 분포, 관계 등

기본적으로 5가지로 분류 할 수 있다.

* Categorical API
* Distribution API
* Relational API
* Regression API
* Matrix API

## 4-1. Seaborn의 구조

#### 4-2. 라이브러리와 데이터셋 호출

In [3]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
student = pd.read_csv('./StudentsPerformance.csv')
student.sample(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
22,male,group D,some college,standard,none,44,54,53
880,male,group C,bachelor's degree,standard,completed,63,64,66
859,male,group C,associate's degree,free/reduced,none,87,73,72
211,male,group C,some college,free/reduced,none,35,28,27
292,male,group C,some high school,standard,completed,63,60,57